@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
nav{
    display: flex; /* Utiliza flexbox para centrar */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
    background-color: #000;/* Color de fondo del navbar */
    
}

nav img{
    width: 100px;
    margin-right: 20px;
}


li{
    display: inline-block;
    padding: 0 10px;
}

li a{
    text-decoration: none;
    color: #fff;
}

/* section{
    width: 100%;
} */

.background-home {
    background-image: url(../img/Crew_6_Desktop_9857f5c2f0.jpg);
    /* background-color: black; */
    height: 96vh;
    /* position: absolute; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-falcon-9 {
    background-image: url(../img/f9_feature.jpg);
    /* background-color: black; */
    height: 96vh;
    /* position: absolute; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-dragon {
    background-image: url(../img/dragon_feature.jpg);
    /* background-color: black; */
    height: 96vh;
    /* position: absolute; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-falcon-heavy {
    background-image: url(../img/fh_feature.jpg);
    /* background-color: black; */
    height: 96vh;
    /* position: absolute; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-star-ship {
    background-image: url(../img/Starhip_website.jpg);
    /* background-color: black; */
    height: 96vh;
    /* position: absolute; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: #000;
    text-transform: uppercase;
}

footer span{
    color: #fff;
}

footer a{
    color: #fff;
    text-decoration: none;
}